node_modules
coverage
build
.idea/

**/*.DS_Store

**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.ico

**/*.woff
**/*.woff2
**/*.eot
**/*.ttf
**/*.otf
**/*.svg

**/*.md
**/*.txt

.gitignore
.prettierignore
.editorconfig
